################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/DB/obj/Debug/net8.0/DB.AssemblyInfoInputs.cache
